.approve-church-tb__header {
  padding: 0.5em 1.5em;
  border: 1px solid #333;
}

.approve-church__data,
.approve-church__data-wrapper {
  flex: 1;
}

.approve-church-tb__churches .approve-church__checkbox {
  margin-top: 0.6rem;
}