.greeting {
  margin-bottom: 20px;
}

.confirm {
  margin: 20px 0;
}

.description {
  margin-top: 30px;
}

.family-info {
  display: flex;
  margin: 20px 0;
}

.big-div {
  margin: 30px;
}

.btn-no {
  width: 45%;
  height: 70px;
  margin: 20px 10px 20px 0;
}

.btn-yes {
  width: 45%;
  height: 70px;
  background-color: #23bbff;
}

.contact {
  margin-top: 30px;
}

.thanks {
  margin-top: 50px;
}
